.teacherHomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f8;
    color: #333;
    min-height: 100vh;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 50px;
  }
  
  .logo {
    height: 50px;
  }
  
  .mainContent { /* ensure class name matches what is used in JSX if different */
    flex: 1;
    padding: 20px;
    width: 80%; /* Control the width to manage size of the carousel and content */
  }
  
  .carouselImage { /* Specific class for carousel images */
    max-height: 500px; /* Set a maximum height */
    width: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Cover the area of the element without stretching the image */
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .footer {
    padding: 10px;
    background-color: #ddd;
    width: 100%;
    text-align: center;
  }
  
  h1, h2, h3 {
    margin: 10px;
  }
  
  p {
    margin: 5px;
    line-height: 1.5;
  }
  